/vendor
/node_modules
/.env
/.env.local
/.env.*.local
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*~
.sqlite
.sqlite3
database/database.sqlite
